/* BASY STYLES FOR THE PAGE */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

.flex {
  display: flex;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

/* ************** */
/* NAVBAR STYLING */
/* ************** */
nav {
  font-family: "DM Sans";
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 10rem 0 10rem;
  font-weight: 400;
  margin-bottom: 4rem;
}

nav ul {
  gap: 3.5rem;
}

nav ul li {
  font-size: 1.5rem;
}

nav ul li a {
  color: #26262699;
}

nav ul li a.active {
  color: #262626;
  font-weight: 700;
}

nav button {
  align-items: center;
  gap: 1rem;
  background-color: #b8c2ce;
  border: none;
  color: #fff;
  padding: 1rem 1.5rem;
  border-radius: 6px;
  font-family: "DM Sans";
  font-weight: 400;
  font-size: 1.4rem;
}

/* ************ */
/* HERO SECTION */
/* ************ */

.hero-section {
  position: relative;
  background-image: url("/images/basketball_sport_icon_in_minimalist_3d_render_2 1.svg");
  background-size: 40%;
  background-repeat: no-repeat;
  padding: 5rem 10rem 0 10rem;
  margin-bottom: 10rem;
  display: flex;
}

.left {
  width: 60vw;
  position: relative;
}

.left h1 {
  font-size: 8rem;
  font-family: "Sequel Sans", sans-serif;
  font-weight: 800;
  line-height: 1.1;
  text-transform: uppercase;
  background: linear-gradient(180deg, #262626, #b8c2ce);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 2rem;
}

.left p {
  font-family: "DM Sans", sans-serif;
  font-size: 1.8rem;
  font-weight: 400;
  color: #262626;
  text-align: left;
  margin-top: 12rem;
  display: flex;
  justify-content: flex-end;
}

.left button {
  font-size: 20px;
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  background-color: #000;
  color: #fff;
  padding: 1.2rem 3.2rem;
  border: none;
  border-radius: 6px;
  text-align: right;
}

.left img {
  max-width: 100%;
  height: auto;
  position: absolute;
  top: 4rem;
  left: 25rem;
}

.hero-cta {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2rem;
  position: absolute;
  right: 0;
}

.right {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.right-text {
  font-family: "Sequel Sans", sans-serif;
  font-size: 1.6rem;
  font-weight: 410;
  color: #262626;
}

.date {
  font-family: "DM Sans", sans-serif;
  font-size: 1rem;
  font-weight: 500;
  color: #262626;
}

.hero-section figure img {
  width: 100%;
}

.overlay {
  padding: 1rem;
  margin-top: -5rem;
  background-image: linear-gradient(0deg, #ddd, #aaa);
}

/* **************** */
/* CATEGORY SECTION */
/* **************** */
.category > p {
  font-family: "Sequel Sans", sans-serif;
  font-weight: 415;
  color: #262626;
  font-size: 2.8rem;
  margin-bottom: 2.5rem;
}

.category ul {
  justify-content: space-between;
  align-items: stretch;
}

.category ul li {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.category ul li img {
  flex: 1;
}

.category-name {
  padding: 2rem 4rem;
  font-family: "squel sans", sans-serif;
  font-weight: 435;
  font-size: 37px;
  background-color: #ebeef3;
  border-radius: 6px;
  text-transform: uppercase;
  text-align: center;
}

.category ul li p span {
  background-image: linear-gradient(180deg, #262626, #b8c2ce);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
